body{
    background-size: cover;
}
.heading{
    width: 100%;
    text-align: left;
}
.heading button{
    float: right;
    border: 1px solid white;
}
.big_image{
    width: 100%;
}
#start, #status{
    font-size: 22px;
}
